<br><div class="col-md-2">
<h3 style= "background-color:powderblue;">update Task</h3>
</div>
<%= render "form", ticket: @ticket %>
<br>
<div>
  <%= link_to "Show  ticket", project_ticket_path, class:"btn btn-outline-primary"%> |
  <%= link_to "Back tickets", project_tickets_path, class:"btn btn-outline-primary"%>
</div>
