<h1>Editing ticket</h1>

<%= render "form", ticket: @ticket %>

<br>

<div>
  <%= link_to "Show this ticket", edit_project_ticket_path %> |
  <%= link_to "Back to tickets", project_ticket_path %>
</div>
