<br><div class="col-md-2">
<h3 style= "background-color:powderblue;">update project</h3>
</div>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "Show  project",  user_project_path ,class:"btn btn-outline-primary"%>
  <%= link_to "Back to projects", user_projects_path ,class:"btn btn-outline-primary"%></button>
</div>
